#discountshunter {
  font-family: SuisseIntl, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
}

.Header-main {
  box-sizing: border-box;
  top: 0px;
  width: 100%;
  height: 70px;
  display: flex;
  padding: 0px;
  z-index: 100;
  position: fixed;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  justify-content: center;
  font-family: SuisseIntl, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.Header-main.notFixed {
  top: 68px;
}

.Header-container {
  width: 1200px;
  display: flex;
  padding: 0px 40px;
  align-items: center;
}

@media (max-width: 1028px) {
  .Header-container {
    padding: 0px 20px;
  }
}

@media (max-width: 899px) {
  .Header-container {
    padding-right: 0px;
  }
}

@media (max-width: 768px) {
  .Header-container {
    width: 100%;
    padding: 0px;
  }
}

.Header-logoContainer {
  display: inline-flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.Header-logoContainer-1 {
  max-width: 250px;
}

@media (max-width: 768px) {
  .Header-logoContainer {
    padding-left: 15px;
  }
}

.Header-logoContainerCenter {
  left: 0px;
  right: 0px;
  z-index: -1;
  position: absolute;
  padding-left: 0px;
}

@media (max-width: 1028px) {
  .Header-logoContainerCenterSmall {
    left: 0px;
    right: 0px;
    z-index: -1;
    position: absolute;
    padding-left: 0px;
  }
}

.Header-navigationArea {
  width: 100%;
  display: inline-flex;
  margin-left: 26px;
  justify-content: space-between;
}

@media (max-width: 1028px) {
  .Header-navigationArea {
    margin-left: 16px;
  }
}

@media (max-width: 768px) {
  .Header-navigationArea {
    margin-left: 8px;
  }
}

.Header-rightSide {
  display: inline-flex;
  justify-content: space-between;
}

h1.color-red {
  color: red;
  text-decoration: none !important;
  display: inline-flex;
  margin: auto;
  padding-left: 1rem;
}

.Droplist-container-0-1-1 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.Droplist-whiteBg-0-1-2 {
  background-color: #ffffff;
}


.Droplist-lightGreyBg-0-1-4 {
  background-color: #fafafa;
}

.Droplist-darkBlueBg-0-1-5 {
  color: #ffffff;
  background-color: #3256ce;
}

.Droplist-medBlueBg-0-1-6 {
  color: #ffffff;
  background-color: #3d68fb;
}

.Droplist-lightBlueBg-0-1-7 {
  color: #ffffff;
  background-color: #6083fb;
}

.Droplist-noPadding-0-1-8 {
  padding-left: 0px;
  padding-right: 0px;
}

.Droplist-displayTable-0-1-9 {
  display: table;
  overflow: auto;
  margin-left: -15px;
  margin-right: -15px;
}

.Droplist-displayTable-0-1-9:before {
  content: "";
  display: table;
}

.Droplist-displayTableCell-0-1-10 {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

.Droplist-leftColPadding-0-1-11 {
  padding-left: 6%;
  padding-right: 0px;
}

@media (max-width: 1000px) {
  .Droplist-leftColPadding-0-1-11 {
    padding-left: 3%;
    padding-right: 0px;
    padding-top: 10%;
  }

}

.Droplist-imgFluid-0-1-12 {
  width: 100%;
}

.Droplist-centerText-0-1-13 {
  text-align: center;
}

.Droplist-orangeText-0-1-14 {
  color: #ff7227;
}

.Droplist-h1Text-0-1-15 {
  color: #292a2a;
  font-size: 36px !important;
  max-width: 450px;
  font-weight: bold;
  line-height: 1.4 !important;
  margin-bottom: 12px;
}

.Droplist-h2Text-0-1-16 {
  color: #292a2a;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 60px;
}

.Droplist-pText-0-1-17 {
  color: #808080;
  font-size: 16px;
  font-weight: 500;
  font-family: SuisseIntl, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.Droplist-installButton-0-1-18 {

  margin-top: 37px;
}

@media (max-width: 480px) {
  .Droplist-installButton-0-1-18 {
    margin-left: auto;
    margin-right: auto;
  }
}

.Droplist-installButtonBottom-0-1-19 {

  margin: 50px auto 0px;
}

.Droplist-col-0-1-20 {
  float: left;
  width: 100%;
  padding: 43px 15px 64px;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 992px) {
  .Droplist-col-0-1-20 {
    width: 33.33%;
  }
}

.Droplist-installLink-0-1-21 {
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}

.Droplist-installLink-0-1-21 a {
  color: #ffffff;
  text-decoration: underline;
}

.Droplist-arrow1-0-1-22 {
  top: 50%;
  right: -20px;
  width: 40px;
  border: 2px solid #3d68fb;
  height: 40px;
  z-index: 10;
  position: absolute;
  margin-top: -20px;
  border-radius: 50%;
  background-color: #3256ce;
}

.Droplist-arrow2-0-1-23 {
  top: 50%;
  right: -20px;
  width: 40px;
  border: 2px solid #6083fb;
  height: 40px;
  z-index: 10;
  position: absolute;
  margin-top: -20px;
  border-radius: 50%;
  background-color: #3d68fb;
}

.Droplist-arrowIcon-0-1-24 {
  top: 12px;
  left: 20 px;
  position: absolute;
}

.Droplist-dropListButtonIcon-0-1-25 {
  width: 70px;
  height: 89px;
  margin-top: 33px;
  margin-bottom: 50px;
}

.Droplist-datePickerIcon-0-1-26 {
  width: 125px;
  height: 135px;
  margin-bottom: 5px;
}

.Droplist-emailIcon-0-1-27 {
  width: 105px;
  height: 77px;
  margin-top: 27px;
  margin-bottom: 36px;
}

.Droplist-row3-0-1-28 {
  padding-top: 90px;
  padding-bottom: 68px;
}

.Droplist-storeLogoCol-0-1-29 {
  float: left;
  width: 50%;
  height: 125px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .Droplist-storeLogoCol-0-1-29 {
    width: 25%;
  }
}

.Droplist-storeLogo-0-1-30 {
  top: 50%;
  left: 50%;
  width: 100%;
  position: absolute;
  max-width: 150px;
  transform: translate(-50%, -50%);
}


.Droplist-storeLogo-0-1-31 {
  top: 50%;
  left: 50%;
  width: 100%;
  position: absolute;
  max-width: 200px;
  transform: translate(-50%, -50%);
}

.Droplist-storeText-0-1-31 {
  top: 50%;
  left: 50%;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Droplist-pattyBg-0-1-32 {
  padding-top: 150px;
  padding-bottom: 180px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.Droplist-listParagraph-0-1-33 {
  color: #808080;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.Droplist-checkmarkIcon-0-1-34 {
  top: 3px;
  position: relative;
  margin-right: 8px;
}

.Droplist-row5-0-1-35 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.Droplist-row6-0-1-36 {
  padding-top: 90px;
  padding-bottom: 108px;
}

.Droplist-row7-0-1-43 {
  overflow: hidden !important;
  padding-top: 70px;
  padding-bottom: 70px;
}

.Droplist-focusedSlideContainer-0-1-44 {
  width: 100%;
  overflow: visible;
  position: relative;
  padding-left: 20%;
  padding-right: 20%;
}

.Droplist-focusedSlideContainer-0-1-44 .slick-list {
  overflow: visible;
}

.Droplist-row7GradientLeft-0-1-45 {
  top: 0px;
  left: 0px;
  width: 20%;
  bottom: 0px;
  z-index: 10;
  position: absolute;
  background: linear-gradient(to right, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 0) 100%);
}

.Droplist-row7GradientRight-0-1-46 {
  top: 0px;
  right: 0px;
  width: 20%;
  bottom: 0px;
  z-index: 10;
  position: absolute;
  background: linear-gradient(to right, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 1) 100%);
}

.Droplist-row8-0-1-51 {
  padding-top: 135px;
  margin-bottom: -70px;
  padding-bottom: 135px;
}

.Droplist-showOnMobile-0-1-52 {
  display: none;
}

@media (max-width: 900px) {
  .Droplist-footerPull-0-1-53 {
    height: 450px;
    margin-bottom: -250px;
  }
}

@media (max-width: 991px) {
  .Droplist-arrow1-0-1-22 {
    display: none;
  }

  .Droplist-arrow2-0-1-23 {
    display: none;
  }
}

@media (max-width: 767px) {
  .Droplist-hideOnMobile-0-1-54 {
    display: none;
  }

  .Droplist-showOnMobile-0-1-52 {
    display: block;
  }

  .Droplist-displayTable-0-1-9 {
    display: block;
  }

  .Droplist-leftColPadding-0-1-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .Droplist-h1Text-0-1-15 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 12px;
  }

  .Droplist-h2Text-0-1-16 {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .Droplist-row1Col-0-1-55 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 66px;
  }

  .Droplist-col-0-1-20 {
    padding-top: 21px;
    padding-bottom: 42px;
  }

  .Droplist-row3-0-1-28 {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .Droplist-row5-0-1-35 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .Droplist-row7-0-1-43 {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .Droplist-focusedSlideContainer-0-1-44 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .Droplist-row7GradientLeft-0-1-45 {
    width: 5%;
  }

  .Droplist-row7GradientRight-0-1-46 {
    width: 5%;
  }

  .Droplist-row8-0-1-51 {
    padding-top: 60px;
    margin-bottom: -30px;
    padding-bottom: 60px;
  }
}

.Droplist-row-0-1-56 {
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
}

.Droplist-col1-0-1-57 {
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .Droplist-col1-0-1-57 {
    float: left;
    width: 66.66%;
    margin-left: 16.66%;
  }
}

button.h-btn {
  border: none;
  display: inline-block;
  font-size: 14px;
  margin: 0 1rem 0 0;
  vertical-align: top;
  white-space: nowrap;
  font-family: SuisseIntl, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  transition: .2s;
  text-shadow: none;
  height: 48px;
  background-color: #ff7227 !important;
  border-color: #ff7227 !important;
  overflow: hidden;
  padding: 10px;
  color: white;
}

div.inline {
  display: inline;
}

.Droplist-row-0-1-81 {
  overflow: auto;
  margin-left: -15px;
  margin-right: -15px;
}

i.fa-arrow-right {
  text-align: center;
  font-size: 18px;
  color: white;
}

.h-icon {
  display: flex;
  position: absolute;
  left: 12px;
  top: 9px;
}
