@media only screen and (max-width: 576px) {
  .table-responsive {
    margin: 0 auto;
    width: 100%;
  }
  .table-responsive>tbody>tr>td[data-title]::before {
    content: attr(data-title)":";
    position: absolute;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    font-size: 0.8em;
    color: rgba(94, 93, 82, 0.75);
  }
  .table-responsive>tbody>tr {
    display: block;
    -webkit-box-shadow: 0 0 15px 2px #aaa;
    -moz-box-shadow: 0 0 15px 2px #aaa;
    box-shadow: 0 0 15px 2px #aaa;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin: 1.6rem auto;
    width: 300px;
  }
  .table-responsive>tbody {
    display: block;
  }
  .table-responsive>thead {
    display: none;
  }
  .table-responsive>tbody>tr>td {
    background-color: #fff;
    display: block;
    text-align: right !important;
    ;
    position: relative;
    line-height: 18px;
    padding: 1rem 1.4rem;
    padding-left: 45%;
    border-top: 0;
  }
  .delete-icon {
    color: red;
  }
  .link-icon {
    color: #339af0;
  }
}

span.td-success {
  background-color: #28a745;
  padding: 0rem 0.5rem;
  color: white;
  font-weight: bold;
  border-radius: 50px;
}

tr.table-tr-dark .icon-thumbs-up, tr.table-tr-dark .icon-thumbs-down {
  color: gray;
}

tr.table-tr-dark span.td-success {
  background-color: gray;
}

tr.table-tr-dark span.td-danger {
  background-color: gray;
}

.td-danger {
  background-color: red;
  padding: 0rem 0.5rem;
  color: white;
  font-weight: bold;
  border-radius: 50px;
}

.td-dark {
  background-color: rgba(0, 0, 0, .2) !important;
  padding: 0.1rem;
  color: white;
  font-weight: bold;
}

.table-store-logo {
  width: 80px;
}

tr td:nth-child(4) {
  text-align: center;
}

tr th {
  text-align: center;
}

tr th:nth-child(2) {
  padding-left: 20px;
  text-align: left;
}

tr.table-tr-dark {
  color: #6c757d !important;
}

tr.table-tr-dark img {
  opacity: 0.5;
}

.icon-thumbs-up {
  color: #28a745;
  margin-right: 5px;
}

.icon-thumbs-down {
  color: red;
  margin-right: 5px;
}

.icon-check-circle {
  font-size: 35px;
  color: #28a745;
}

.icon-ban {
  font-size: 35px;
  color: red;
}