[data-tooltip] {
  position: relative;
}

[data-tooltip]::before, [data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 6px;
  z-index: 1;
}

[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

[data-tooltip]:hover::before, [data-tooltip]:hover::after {
  display: block;
}

[data-tooltip][data-tooltip-position="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 10px;
  margin-left: -10px;
  ;
}

[data-tooltip][data-tooltip-position="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 100%;
  left: 10px;
  margin-bottom: 5px;
}